#add-new-btn {
    text-transform: none;
    font-weight: 700;
    margin: 1rem 0;
}

.address-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    cursor: pointer;
}

.shipping-container {
    padding: 2rem 1rem;
}

.selected {
    border: 1px solid #00A278;
    background-color: #E9F5E1;
}

.not-selected {
    border: 1px solid #ddd;
}

p {
    color: #3C3C3C;
}

.AdressButton{
    display:"flex";
    justify-content: "space-between";
    box-shadow: 'none';
    text-transform: 'none';
    font-size: 16;
    font-weight: bold;
    padding: '6px 12px';
    border: "0.5px solid #00a278";
    border-color: '#0063cc';

  }

  .AdressButton:hover{
    border-color: '#0062cc';
    box-shadow: 'none';
  }

  .AdressButton:active{
    box-sizing: 10px;
    border-color: '#005cbf';
  }

  .AdressButton:focus{
    border: "2px solid #00a278",
  }

.color{

}
@media screen and (min-width: 768px) {
    .shipping-container {
        padding: 2rem 4rem;
    }
}